@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Popins", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 80px;
}
.container section {
  padding: 64px 0;
  display: grid;
}
.container section.header, .container section.footer {
  grid-column: 1/-1;
}
.container section.hero {
  grid-template-columns: 3fr 4fr;
}
.container section.feature, .container section.testimonial {
  grid-template-columns: 1fr;
}
.container section.special-offer {
  grid-template-columns: 2fr 3fr;
}
.container section.contact {
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .container section.hero, .container section.feature, .container section.special-offer, .container section.testimonial, .container section.contact {
    grid-template-columns: 1fr;
  }
}

.heading {
  margin-bottom: 64px;
}
.heading-title h3 {
  font-size: 32px;
  margin-bottom: 16px;
}
.heading-tagline p {
  font-size: 18px;
}

section.page-title {
  padding: 0;
}
section.page-title .breadcrumbs {
  padding: 10px;
}
section.page-title .breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.page-title .breadcrumbs ul li {
  display: inline;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}
section.page-title .breadcrumbs ul li a {
  text-decoration: none;
  color: #000000;
}
section.page-title .breadcrumbs ul li:not(:last-child):after {
  content: " / ";
  margin: 0 8px;
}
section.page-title div.title {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 28px;
  border-bottom: 2px solid #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navbar .logo {
  font-size: 24px;
}
.navbar .menus {
  margin-right: auto;
}
.navbar .menus ul {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-left: 80px;
}
.navbar .menus ul li {
  list-style: none;
  font-size: 16px;
}

.hero .hero-left .hero-caption {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 24px;
}
.hero .hero-left .hero-title {
  font-size: 56px;
  line-height: 56px;
  margin-bottom: 24px;
}
.hero .hero-left .hero-text {
  width: 80%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}
.hero .hero-left .button {
  padding: 12px 24px;
  border: 1px solid hsl(150, 20%, 35%);
  border-radius: 4px;
  font-size: 16px;
  color: hsl(150, 20%, 35%);
  text-decoration: none;
}
.hero .hero-right .hero-image img {
  width: 72%;
  float: right;
}

.feature .flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}
.feature .flex-container .feature-card {
  width: 100%;
}
.feature .flex-container .feature-card img {
  width: 100%;
  margin-bottom: 48px;
}
.feature .flex-container .feature-card .label h3 {
  font-size: 40px;
  margin-bottom: 14px;
}
.feature .flex-container .feature-card .label p {
  font-size: 18px;
}

.special-offer {
  gap: 126px;
}
.special-offer .special-offer-left {
  width: 100%;
}
.special-offer .special-offer-right .offer-detail * {
  margin-bottom: 14px;
}
.special-offer .special-offer-right .offer-detail h4 {
  font-size: 32px;
  font-weight: 600;
}
.special-offer .special-offer-right .offer-detail h5 {
  font-size: 24px;
  font-weight: 500;
}
.special-offer .special-offer-right .offer-detail .price {
  font-size: 32px;
  font-weight: 600;
}
.special-offer .special-offer-right .offer-detail .price .pd-slashprice {
  color: #d9d9d9;
}
.special-offer .special-offer-right .offer-detail p {
  font-size: 18px;
  color: hsl(228, 8%, 30%);
  margin-bottom: 64px;
}
.special-offer .special-offer-right .offer-detail .button {
  padding: 12px 24px;
  border: 1px solid hsl(150, 20%, 35%);
  border-radius: 4px;
  font-size: 16px;
  color: hsl(150, 20%, 35%);
  text-decoration: none;
}

.testimonial .flex-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.testimonial .flex-container .testimonial-card {
  width: 100%;
}
.testimonial .flex-container .testimonial-card .user-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.testimonial .flex-container .testimonial-card .user-detail img {
  width: 100px;
}
.testimonial .flex-container .testimonial-card .user-detail h3 {
  font-size: 16px;
  font-weight: 600;
}
.testimonial .flex-container .testimonial-card .testimonial-message {
  font-size: 16px;
  font-weight: normal;
}

.contact {
  gap: 80px;
}
.contact .contact-left .telp,
.contact .contact-left .email,
.contact .contact-left .address {
  margin-bottom: 24px;
}
.contact .contact-left .telp .head,
.contact .contact-left .email .head,
.contact .contact-left .address .head {
  margin-bottom: 4px;
}
.contact .contact-left .telp h6,
.contact .contact-left .email h6,
.contact .contact-left .address h6 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}
.contact .contact-left .telp p,
.contact .contact-left .email p,
.contact .contact-left .address p {
  font-size: 18px;
}
.contact .contact-right .maps iframe {
  width: 100%;
  height: 356px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 0;
}
.footer .column-wrapper {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.footer .column-wrapper .cc-logo {
  width: 32px;
  gap: 16px;
}
.footer .column-wrapper .cc-logo img {
  margin-bottom: 16px;
}
.footer .column-wrapper .footer-link {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.footer .column-wrapper .footer-link .column .column-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.footer .column-wrapper .footer-link .column .column-list a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

@media (min-width: 0) {
  .container {
    padding: 0 32px;
  }
  .hero {
    height: 90vh;
    align-items: center;
  }
  .hero .hero-left {
    text-align: center;
  }
  .hero .hero-left .hero-title {
    font-size: 40px;
    line-height: normal;
  }
  .hero .hero-left .hero-text {
    width: 100%;
  }
  .hero .hero-right {
    display: none;
  }
  .special-offer {
    gap: 24px;
  }
  .special-offer .special-offer-left img {
    width: 100%;
  }
  .feature .flex-container {
    flex-direction: column;
  }
  .feature .flex-container .feature-card {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .feature .flex-container .feature-card .label h3 {
    font-size: 24px;
  }
  .feature .flex-container .feature-card img {
    width: 32%;
  }
  section.product {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.testimonial .flex-container {
  flex-wrap: wrap;
}
.testimonial .flex-container .testimonial-card .user-detail img {
  width: 64px;
}

.footer .column-wrapper {
  flex-direction: column;
}
.footer .column-wrapper .cc-logo {
  width: 100%;
}
.footer .column-wrapper .footer-link {
  flex-direction: column;
}
.footer .column-wrapper .footer-link .column .column-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .container {
    padding: 0 80px;
  }
  .container .hero {
    height: 90vh;
    align-items: center;
  }
  .container .hero .hero-left {
    text-align: left;
  }
  .container .hero .hero-left .hero-title {
    font-size: 40px;
    line-height: normal;
  }
  .container .hero .hero-left .hero-text {
    width: 100%;
  }
  .container .hero .hero-right {
    display: block;
  }
  .container .feature .flex-container {
    flex-direction: row;
  }
  .container .feature .flex-container .feature-card {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .container .feature .flex-container .feature-card img {
    width: 100%;
  }
  .container .feature .flex-container .feature-card .label h3 {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .special-offer {
    gap: 126px;
  }
  .testimonial .flex-container {
    flex-wrap: nowrap;
  }
  section.product {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer .column-wrapper {
    flex-direction: row;
  }
  .footer .column-wrapper .cc-logo {
    width: 24%;
  }
  .footer .column-wrapper .footer-link {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  section.product {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.wrap {
  display: grid;
  grid-template-areas: "header header" "main nav" "main aside" "footer footer";
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.wrap .aheader {
  background-color: 162;
  grid-area: header;
}
.wrap main {
  background-color: red;
  grid-area: main;
}
.wrap nav {
  background-color: yellow;
  grid-area: nav;
}
.wrap aside {
  background-color: aqua;
  grid-area: aside;
}
.wrap .cfooter {
  background-color: blueviolet;
  grid-area: footer;
}

section.product {
  display: grid;
  gap: 24px;
}
section.product .product-card {
  width: 100%;
  padding: 16px 14px;
  background-color: #F8F8F8;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
}
section.product .product-card .product-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 12px;
}
section.product .product-card .product-details {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
section.product .product-card .product-details .product-price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
section.product .product-card .product-details .product-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
section.product .product-card .product-details .action {
  justify-self: self-end;
}
section.product .product-card .product-details .action .add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s;
}
section.product .product-card .product-details .action .add-to-cart:hover {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}/*# sourceMappingURL=style.css.map */