* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Popins", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 80px;
}
.container section {
  padding: 64px 0;
  display: grid;
}
.container section.header, .container section.footer {
  grid-column: 1/-1;
}
.container section.hero {
  grid-template-columns: 3fr 4fr;
}
.container section.feature, .container section.testimonial {
  grid-template-columns: 1fr;
}
.container section.special-offer {
  grid-template-columns: 2fr 3fr;
}
.container section.contact {
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .container section.hero, .container section.feature, .container section.special-offer, .container section.testimonial, .container section.contact {
    grid-template-columns: 1fr;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navbar .logo {
  font-size: 24px;
}
.navbar .menus {
  margin-right: auto;
}
.navbar .menus ul {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-left: 80px;
}
.navbar .menus ul li {
  list-style: none;
  font-size: 16px;
}

.hero .hero-left .hero-caption {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 24px;
}
.hero .hero-left .hero-title {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 24px;
}
.hero .hero-left .hero-text {
  width: 80%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}
.hero .hero-right .hero-image img {
  width: 72%;
  float: right;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .hero {
    height: 90vh;
    align-items: center;
  }
  .hero .hero-left {
    text-align: center;
  }
  .hero .hero-left .hero-title {
    font-size: 32px;
    line-height: normal;
  }
  .hero .hero-left .hero-text {
    width: 100%;
  }
  .hero .hero-right {
    display: none;
  }
}
.feature .heading {
  margin-bottom: 64px;
}
.feature .heading-title h3 {
  font-size: 24px;
  margin-bottom: 14px;
}
.feature .heading-tagline p {
  font-size: 18px;
}
.feature .flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}
.feature .flex-container .feature-card {
  width: 100%;
}
.feature .flex-container .feature-card img {
  width: 100%;
  margin-bottom: 48px;
}
.feature .flex-container .feature-card .label h3 {
  font-size: 24px;
  margin-bottom: 14px;
}
.feature .flex-container .feature-card .label p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .feature .flex-container {
    flex-direction: column;
  }
  .feature .flex-container .feature-card {
    display: flex;
    flex-direction: row;
  }
  .feature .flex-container .feature-card img {
    width: 40%;
  }
}
.special-offer {
  gap: 126px;
}
.special-offer .special-offer-left {
  width: 100%;
}
.special-offer .special-offer-right .offer-detail * {
  margin-bottom: 14px;
}
.special-offer .special-offer-right .offer-detail h4 {
  font-size: 32px;
  font-weight: 600;
}
.special-offer .special-offer-right .offer-detail h5 {
  font-size: 24px;
  font-weight: 500;
}
.special-offer .special-offer-right .offer-detail .price {
  font-size: 32px;
  font-weight: 600;
}
.special-offer .special-offer-right .offer-detail .price .pd-slashprice {
  color: #D9D9D9;
}
.special-offer .special-offer-right .offer-detail p {
  font-size: 18px;
  color: hsl(228, 8%, 30%);
}

.testimonial .heading {
  margin-bottom: 64px;
}
.testimonial .heading .heading-title h3 {
  font-size: 24px;
  margin-bottom: 14px;
}
.testimonial .heading .heading-title p {
  font-size: 18px;
}
.testimonial .flex-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.testimonial .flex-container .testimonial-card {
  width: 100%;
}
.testimonial .flex-container .testimonial-card .user-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.testimonial .flex-container .testimonial-card .user-detail img {
  width: 54px;
}
.testimonial .flex-container .testimonial-card .user-detail h3 {
  font-size: 16px;
  font-weight: 600;
}
.testimonial .flex-container .testimonial-card .testimonial-message {
  font-size: 16px;
  font-weight: normal;
}

.contact {
  gap: 80px;
}
.contact .contact-left .telp, .contact .contact-left .email, .contact .contact-left .address {
  margin-bottom: 24px;
}
.contact .contact-left .telp .head, .contact .contact-left .email .head, .contact .contact-left .address .head {
  margin-bottom: 4px;
}
.contact .contact-left .telp h6, .contact .contact-left .email h6, .contact .contact-left .address h6 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}
.contact .contact-left .telp p, .contact .contact-left .email p, .contact .contact-left .address p {
  font-size: 18px;
}
.contact .contact-right .maps iframe {
  width: 100%;
  height: 356px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 0;
}
.footer .column-wrapper {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.footer .column-wrapper .cc-logo {
  width: 32%;
  gap: 16px;
}
.footer .column-wrapper .footer-link {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.footer .column-wrapper .footer-link .column .column-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}
.footer .column-wrapper .footer-link .column .column-list a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
}

@media (min-width: 480px) {
  .container {
    padding: 0 32px;
  }
}
.wrap {
  display: grid;
  grid-template-areas: "header header" "main nav" "main aside" "footer footer";
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.wrap .aheader {
  background-color: 162;
  grid-area: header;
}
.wrap main {
  background-color: red;
  grid-area: main;
}
.wrap nav {
  background-color: yellow;
  grid-area: nav;
}
.wrap aside {
  background-color: aqua;
  grid-area: aside;
}
.wrap .cfooter {
  background-color: blueviolet;
  grid-area: footer;
}/*# sourceMappingURL=style.css.map */