* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
margin: 0;
font-family: variables.$font-popins;
}

.container {
margin: 0 auto;
padding: 0 variables.$s-80;

section {
    padding: variables.$s-64 0;
    display: grid;

    &.header,
    &.footer {
    grid-column: 1 / -1;
    }

    &.hero {
    grid-template-columns: 3fr 4fr;
    }

    &.feature,
    &.testimonial {
    grid-template-columns: 1fr;
    }

    &.special-offer {
    grid-template-columns: 2fr 3fr;
    }

    &.contact {
    grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
    &.hero,
    &.feature,
    &.special-offer,
    &.testimonial,
    &.contact {
        grid-template-columns: 1fr;
    }
    }
}
}

.heading {
margin-bottom: variables.$s-64;

&-title {
    h3 {
    font-size: variables.$h4;
    margin-bottom: variables.$s-16;
    }
}

&-tagline {
    p {
    font-size: variables.$p18;
    }
}
}

section.page-title {
    padding: 0;
    .breadcrumbs {
        padding: 10px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                display: inline;
                font-size: 16px;
                text-decoration: none;
                color: #000000;
                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
            li:not(:last-child):after {
                content: ' / ';
                margin: 0 8px;
            }
        }
    }

    div.title {
        font-size: variables.$h3;
        font-weight: variables.$medium;
        padding-bottom: 28px;
        border-bottom: 2px solid #000000;
    }

}
