
$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: variables.$bp) {
    @content;
  }
}

@include xs {
  .container {
    padding: 0 variables.$s-32;
  }
  .hero {
    height: 90vh;
    align-items: center;

    .hero-left {
      text-align: center;
      .hero-title {
        font-size: variables.$h3; 
        line-height: normal;
      }
      .hero-text {
        width: 100%;
      }
    }
    .hero-right {
      display: none;
    }
  }
  .special-offer {
    gap: variables.$s-24;
    .special-offer-left {
      img {
        width: 100%;
      }
    }
  }

  .feature {
    .flex-container {
      flex-direction: column;

      .feature-card {
        display: flex;
        flex-direction: row;
        gap: variables.$s-24; 
        .label {
          h3 {
            font-size: variables.$h5;
          }
        }

        img {
          width: 32%;
        }
      }
    }
  }


  section.product {
    display: grid;
    grid-template-columns: 1fr;
  }

}

.testimonial .flex-container {
  flex-wrap: wrap;
  .testimonial-card {
    .user-detail {
      img {
        width: 64px;
    }
    }
  }
}



.footer {
  .column-wrapper {
    flex-direction: column;
    .cc-logo {
      width: 100%;
    }
    .footer-link {
      flex-direction: column;
      .column {
        .column-list {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@include sm {
  
}

@include md {
}

@include lg {
  .container {
    padding: 0 variables.$s-80;

    .hero {
      height: 90vh;
      align-items: center;
  
      .hero-left {
        text-align: left;
        .hero-title {
          font-size: variables.$h3; 
          line-height: normal;
        }
        .hero-text {
          width: 100%;
        }
      }
      .hero-right {
        display: block;
      }
    }

    .feature {
      .flex-container {
        flex-direction: row;

        .feature-card {
          display: flex;
          flex-direction: column;
          gap: 0;

          img {
            width: 100%;
          }

          .label {
            h3 {
              font-size: variables.$h5;
              margin-bottom: variables.$s-14;
            }
          }
        }
      }
    }
  }

  .special-offer {
    gap: 126px;
  }

  .testimonial .flex-container {
    flex-wrap: nowrap;
  }



  section.product {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer {
    .column-wrapper {
      flex-direction: row;
      .cc-logo {
        width: 24%;
      }
      .footer-link {
        flex-direction: row;
      }
    }
  }
}

@include xl {
  section.product {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
