.special-offer {
  gap: 126px;
  .special-offer-left {
    width: 100%;
  }
  .special-offer-right {
    .offer-detail {
      * {
        margin-bottom: variables.$s-14;
      }
      h4 {
        font-size: variables.$h4;
        font-weight: variables.$semi-bold; 
      }
      h5 {
        font-size: variables.$h5;
        font-weight: variables.$medium; 
      }
      .price {
        font-size: variables.$h4;
        font-weight: variables.$semi-bold;
        .pd-slashprice {
          color: #d9d9d9;
        }
      }
      p {
        font-size: variables.$p18; 
        color: variables.$neutral-200;
      }
    }
  }
}
