.special-offer {
    gap: 126px;
    .special-offer-left {
      width: 100%;
    }
    .special-offer-right {
      .offer-detail {
        * {
          margin-bottom: 14px
        };
        h4 {
          font-size: 32px;
          font-weight: variables.$semi-bold;
        }
        h5 {
          font-size: 24px;
          font-weight: variables.$medium;
        }
        .price {
            font-size: 32px;
            font-weight: variables.$semi-bold;
          .pd-slashprice {
            color: #D9D9D9;
          }
        }
        p {
          font-size: 18px;
          color: variables.$neutral-200;
        }
      }
    }
  }
  
  