// Variables 

// Color
$primary-50: hsl(150, 20, 5);
$primary-100: hsl(150, 20, 15);
$primary-200: hsl(150, 20, 25);
$primary-300: hsl(150, 20, 35);
$primary-400: hsl(150, 20, 45);
$primary-500: hsl(150, 20, 55);
$primary-600: hsl(150, 20, 65);
$primary-700: hsl(150, 20, 75);
$primary-800: hsl(150, 20, 85);
$primary-900: hsl(150, 20, 95);

$secondary-50: hsl(88, 38, 5);
$secondary-100: hsl(88, 38, 15);
$secondary-200: hsl(88, 38, 25);
$secondary-300: hsl(88, 38, 35);
$secondary-400: hsl(88, 38, 45);
$secondary-500: hsl(88, 38, 55);
$secondary-600: hsl(88, 38, 65);
$secondary-700: hsl(88, 38, 75);
$secondary-800: hsl(88, 38, 85);
$secondary-900: hsl(88, 38, 95);

$tertiary-50: hsl(28, 56, 5);
$tertiary-100: hsl(28, 56, 15);
$tertiary-200: hsl(28, 56, 25);
$tertiary-300: hsl(28, 56, 35);
$tertiary-400: hsl(28, 56, 45);
$tertiary-500: hsl(28, 56, 55);
$tertiary-600: hsl(28, 56, 65);
$tertiary-700: hsl(28, 56, 75);
$tertiary-800: hsl(28, 56, 85);
$tertiary-900: hsl(28, 56, 95);

$neutral-50: hsl(228, 8, 10);
$neutral-100: hsl(228, 8, 20);
$neutral-200: hsl(228, 8, 30);
$neutral-300: hsl(228, 8, 40);
$neutral-400: hsl(228, 8, 50);
$neutral-500: hsl(228, 8, 60);
$neutral-600: hsl(228, 8, 70);
$neutral-700: hsl(228, 8, 80);
$neutral-800: hsl(228, 8, 90);
$neutral-900: hsl(228, 8, 100);

$danger-50: hsl(0, 85, 5);
$danger-100: hsl(0, 85, 15);
$danger-200: hsl(0, 85, 25);
$danger-300: hsl(0, 85, 35);
$danger-400: hsl(0, 85, 45);
$danger-500: hsl(0, 85, 55);
$danger-600: hsl(0, 85, 65);
$danger-700: hsl(0, 85, 75);
$danger-800: hsl(0, 85, 85);
$danger-900: hsl(0, 85, 95);

$success-50: hsl(135, 84, 5);
$success-100: hsl(135, 84, 15);
$success-200: hsl(135, 84, 25);
$success-300: hsl(135, 84, 35);
$success-400: hsl(135, 84, 45);
$success-500: hsl(135, 84, 55);
$success-600: hsl(135, 84, 65);
$success-700: hsl(135, 84, 75);
$success-800: hsl(135, 84, 85);
$success-900: hsl(135, 84, 95);

$warning-50: hsl(60, 85, 5);
$warning-100: hsl(60, 85, 15);
$warning-200: hsl(60, 85, 25);
$warning-300: hsl(60, 85, 35);
$warning-400: hsl(60, 85, 45);
$warning-500: hsl(60, 85, 55);
$warning-600: hsl(60, 85, 65);
$warning-700: hsl(60, 85, 75);
$warning-800: hsl(60, 85, 85);
$warning-900: hsl(60, 85, 95);

$info-50: hsl(195, 85, 5);
$info-100: hsl(195, 85, 15);
$info-200: hsl(195, 85, 25);
$info-300: hsl(195, 85, 35);
$info-400: hsl(195, 85, 45);
$info-500: hsl(195, 85, 55);
$info-600: hsl(195, 85, 65);
$info-700: hsl(195, 85, 75);
$info-800: hsl(195, 85, 85);
$info-900: hsl(195, 85, 95);

// Spacing 
$s-4: 4px;
$s-8: 8px;
$s-12: 12px;
$s-14: 14px;
$s-16: 16px;
$s-24: 24px;
$s-32: 32px;
$s-40: 40px;
$s-48: 48px;
$s-56: 56px;
$s-64: 64px;
$s-80: 80px;

// Font 
$font-popins: 'Popins', sans-serif;

// Font sizes for paragraphs
$p12: 12px;
$p14: 14px;
$p16: 16px;
$p18: 18px;

// Font sizes for headings
$h5: 24px;
$h4: 32px;
$h3: 40px;
$h2: 48px;
$h1: 56px;

// Font size for display
$display: 64px;

// Font weights
$regular: normal;
$medium: 500;
$semi-bold: 600;
$bold: bold;
