@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: variables.$font-popins;
}

section {
  width: 100%;
  padding: variables.$s-64 0;

  .container {
    position: relative;
    padding: 0 variables.$s-80;

    .heading {
      margin-bottom: variables.$s-64;

      .heading-title h3 {
        font-size: variables.$h4;
        margin-bottom: variables.$s-14;
      }

      .heading-tagline p {
        font-size: variables.$p18;
      }
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left-column, .right-column {
        max-width: 50%;
      }

      .left-column {
        display: flex;
        flex-direction: column;

        .hero-caption {
          font-size: variables.$p12;
          line-height: variables.$s-14;
          margin-bottom: variables.$s-24;
        }

        .hero-title {
          font-size: variables.$h2;
          line-height: variables.$s-64;
          margin-bottom: variables.$s-24;
        }

        .hero-text {
          width: 80%;
          font-size: variables.$p16;
          line-height: 26px;
          margin-bottom: variables.$s-24;
        }
      }

      .right-column {
        .hero-image img {
          width: 100%;
        }
      }
    }
  }

  &.feature {
    .flex-container {
      align-items: flex-end;
      gap: variables.$s-24;

      .feature-card {
        width: auto;
      
        img {
          width: 100%;
          margin-bottom: variables.$s-24;
        }
      
        .label h3 {
          font-size: variables.$h5;
          margin-bottom: variables.$s-14;
        }
      
        .label p {
          font-size: variables.$p18;
        }
      }      
    }
  }

  &.special-offer {
    .flex-container {
      gap: 126px;

      .offer-detail h4, .offer-detail h5, .price {
        margin-bottom: variables.$s-24;
      }
  
      .offer-detail {
        margin-bottom: variables.$s-14;
    
        h4 {
          font-size: variables.$h4;
        }
    
        h5 {
          font-size: variables.$h5;
        }
    
        .price {
          display: flex;
          flex-direction: row;
          gap: variables.$s-40;
          font-size: variables.$h4;
          font-weight: variables.$semi-bold;
    
          .pd-slashprice {
            color: variables.$neutral-800;
          }
        }
    
        p {
          font-size: variables.$p18;
          color: variables.$neutral-200;
        }
      }
    }
  }
  
  &.testimonial {
    .flex-container {
      gap: variables.$s-24;

      .user-detail {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: variables.$s-24;
        margin-bottom: variables.$s-24;
      }
    }
  }

  &.contact {
    .flex-container {
      gap: variables.$s-80;
    }

    .left-column {
      .telp, .email, .address {
        margin-bottom: variables.$s-24;

        h6 {
          font-size: variables.$h5;
          font-weight: variables.$semi-bold;
          margin-bottom: variables.$s-4;
        }

        p {
          font-size: variables.$p18;
        }
      }
    }

    .right-column {
      max-width: 100%;

      iframe {
        width: 480px;
        height: 320px;
      }
    }
  }

}

footer {
  padding: 64px 0;
  .container {
    padding: 0 80px;
    .column-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 64px;

      .cc-logo {
        width: 32%;
        img {
          margin-bottom: 18px;
        }
      }

      .footer-link {
        display: flex;
        flex-direction: row;
        gap: 64px;

        .column {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .column-name p {
            font-size: variables.$p16;
            font-weight: 600;
          }
          .column-list {
            display: flex;
            flex-direction: column;
            a {
              font-size: variables.$p14;
              text-decoration: none;
              color: #000;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section {

    .container {
      padding: 0 variables.$s-24;

      .flex-container {
        flex-direction: column;
      }
    }
    &.hero {
      height: 90vh;
      .container {
        .flex-container {
          align-items: center;
          text-align: center;

          .left-column {
            max-width: 100%;

            .hero-caption {
              font-size: variables.$p12;
              line-height: variables.$s-14;
              margin-bottom: variables.$s-24;
            }
    
            .hero-title {
              font-size: variables.$h4;
              line-height: variables.$s-32;
              margin-bottom: variables.$s-24;
            }
    
            .hero-text {
              width: 100%;
              font-size: variables.$p16;
              line-height: 26px;
              margin-bottom: variables.$s-24;
            }
          }
    
          .right-column {
            display: none;
          }
        }
      }
    }


    &.feature {
      .flex-container {
        align-items: start;
        
        .feature-card {
          display: flex;
          flex-direction: row;
          gap: 24px;
          width: 100%;

          img {
            width: 32%;
          }

          .label h3 {
            font-size: variables.$p18;
            margin-bottom: variables.$s-14;
          }
        }
      }
    }

    &.special-offer {
      .flex-container {
        gap: variables.$s-24;
        .left-column, .right-column {
          max-width: 100%;
          img {
            width: 100%;
          }
        }
        .offer-detail {
          margin-bottom: variables.$s-14;
      
          h4 {
            font-size: variables.$h4;
          }
      
          h5 {
            font-size: variables.$p18;
          } 
        }
      }
    }
    &.contact {
      .flex-container {
        flex-direction: column-reverse;
        gap: variables.$s-24;

        .left-column, .right-column {
          max-width: 100%;
          
          iframe {
            width: 100%;
            height: 320px;
          }
        }
      }
    }
  }

  footer {
    .container {
      padding: 0 variables.$s-24;
      .column-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .cc-logo {
          width: 100%;
          gap: 16px;
        }
        .footer-link {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
    }
  }
  
}
